*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    min-height: 100vh;
}


body{
    height: 100%;
    min-height: 100vh;
    background: linear-gradient(#012868,#530c53,#430543,#000000,#000000,#000000,#000000, #000000, #000000,#000000, #220322);
    background-size: auto auto;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    /* align-content: space-around; */
}

header{
    /* border: 2px solid white ; */
    display: flex;
    text-align: center;
    align-items: center;
    /*top: 5px; */
    height: 10vh;
    width: 100%;
    /* background-color:rgba(0, 0, 0, 0.5); */
    color: aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.header-wrap{
    margin: 15px;

    height:100% ;
    width: 90%;
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: space-between;
}

/* header .header-wrap .tittle{
    color: rgb(220, 252, 252);
    padding: 5%;
} */

.header-logo{
    height: 80%;
    margin-top: 10px;
}

.tittle{
    display: flex;
    align-items: center;
    height: 80%;
    text-align: center;

}

.fixed-text{
    width: 80%;
    font-family: sans-serif;
    margin: auto;
    color: #f2f2f2;
    font-size: .8em;
    line-height: 2em;
}


.user-interface{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-wrap{
    display: flex;
    text-align: center;
}
.query-form{

    width: 80vw;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 10px;
    padding: 15px;
    border: 2px solid gray;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.label{
    
    flex: 3;
    margin-left: 10px;
    margin-right: 5px;
    color: aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}

#date-input{
    flex: 7;
    border-radius: 7px;
    padding: 5px 20px;
    margin-right: 10px;
    width: 50%;
    
}

#button{
    flex: 1;
    padding: 5px 5px;
    font-weight: 900;
    /* right: 10px; */
    /* width: 10%; */
    background-color: rgb(81, 185, 255);
}


.list-wrap{
    display: flex;
    align-items: center;
}

.select-box{
    display: none;
    padding: 5px 20px;
    margin: auto;
    width: 80vw ;
}
.img-wrap{
    
    width: min-content;
    margin: auto;
    margin-top: 25px;
}

/* .slide-wrap{
    overflow-y: scroll;

} */

/* .slide-ul{
    display: flex;
} */

.earth-image{
    margin: auto;
    /* margin-top: 30px; */
    width: 600px;
}


.slide-wrap {
    max-width: 80%;
    position: relative;
    margin: auto;
}

.single-image-div {
    text-align: center;
    flex-direction: column;
    margin-top: 50px;
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 33%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(253, 253, 253);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


  /* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgb(28, 60, 148);
}

.img-counter {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .8rem;
    color: #f2f2f2;
    padding: 15px 12px;
    /* position: absolute; */
    /* bottom: 15px; */
    width: 100%;
    text-align: center;
}
  
  
.img-on-slides{
    margin: auto;
    max-width: 80%;
    margin-top: 15px;
}

.info-page-cont{
    
    border: 3px solid gray;
    /* background-color: #f2f2f2; */
    margin-bottom: 30px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;

}

.info-ul{
    /* padding: 10px; */
    list-style-type: none;
    width: 100%;
}

.info-items{
    color: #ffffff;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .7rem;
}

.info-bullets{
    padding:10px 10px ;
}

.info-bullets a{
    text-decoration: none;
    color: #fffb12;
    
}

.info-title{
    background-color: gray;
    font-size: .9rem;
}
    


footer{
    background-color: rgb(31, 32, 43);
    margin-top: auto;
    padding: 5%;
}

footer div a{
    color: #ffffff;
    font-size: .5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-decoration: none;
}

.sm-logos{
    font-size: 1.4em;
}